# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Edgar .gitignore File

node_modules/
.DS_Store
config/configuration.js
config/configuration.env
config/configuration.json
config/configuration.yaml
config/configuration.yml
package-lock.json
# .prettierignore
yarn.lock

public/wireframe.copy.css
views/newsroom/markdown.md
router.copyed.js
router.note.js
markdown.md
